body {
    font-family: Arial, Helvetica, sans-serif;
}


#table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

th {
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    border: 2px solid rgb(190, 190, 190);
    padding: 10px;
}

#insert_container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#insert_form {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}



