#demo {
    height: 300px;
    width: 500px;
    margin-bottom: 20px;
    border-color: black;
    border-radius: 8px;
    border-style: groove;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#demo p {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}